.navbar-toggler {
    background-color: #E8E7E7;
}

.top-row {
    min-height: 3.5rem;
    background-color: #FFFFFF;
    border: #E8E7E7 1px solid;
}


.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background-color: #FFFFFF;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #E8E7E7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: #E8E7E7;
    color: #E8E7E7;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #E8E7E7;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        border: #E8E7E7 1px solid;
        background-color: white;
    }
}
