@page "/logout"
<h3>Logout</h3>
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


@code {
    private async Task HandleLogout()
    {
        await JS.InvokeVoidAsync("signOut");
        await LocalStorage.RemoveItemAsync("UserID");
        Navigation.NavigateTo("/login");
    }

    protected override async Task OnInitializedAsync()
    {
        await HandleLogout();
    }
}
